<body>

<br>
<br>
<h1 class="text-center", style="color:#ed2f2f;">My Messages Page</h1>
<br>

<p class="text-secondary">You can send or read your private messages here! </p>
<br>
<p class="text-secondary">If you want a closer look at a message click "See Message".</p>

<br>
<h3><p class="text-primary">My Messages</p></h3>
<% messages.each do |message| %>
<% if current_user.try(:id)==message.user_id || message.recipient_id %>
  
  <div id="<%= dom_id(message) %>">
    
    <p>Subject: <%= message.title%> || From: <%= message.sender_name%> || To: <%= message.recipient_name%> </p>

    <a><%= button_to 'See Message', message_path(message),:method => "get"  %></a>
  </div>
  <%end%>
  <%end%>
