<div id="page-contet">
<h1 class="text-center mt-4">New Messages</h1>
<%= form_with model: message, url: messages_path, class: "shadow p-5 mb-10 bg-white", method: :post, local: true, scope: :message do |f| %>
  <div>
  <strong><label>Title</label></strong>
    <%= f.text_field :title, placeholder:'Hello',class: "form-control shadow" %>
  </div>
  <%# rich text %>
  <div>
  <strong><label>Message</label></strong>
    <%= f.rich_text_area :body, placeholder:'Say something...' %>
    
 </div>
<%= f.hidden_field :recipient_id, :value => params[:recipient_id] %>
<%= f.hidden_field :recipient_name, :value => params[:recipient_name] %>
  <div > 
  <%= f.submit "Send Message", :class => "btn btn-outline-warning" %>
</div>
<% end %>

