<div id="page-contet">
<h1 class="text-center mt-4">New Message</h1>
<div class="container card p-3 mb-2 bg-light text-dark">
 <div class = "text-center">
  <div class="card text-white bg-primary mb-5" style="max-width: 55rem;">
  
    <h2><%= message.sender_name%> to <%= message.recipient_name %></h2>
  </div>
  </div>
  <div class="card">
  
  <div class="card-body">
  
    <ul>
        <div class="form-group row">
        <label> <h5 class="card-title"> <%=message.title %> </label>
      </div>
       <div class="form-group row">
       <label> <p class="card-text"> <%=message.body%></p> <label> 
     </div>
     <div class="form-group row">
    
     <p><%= link_to 'Reply', new_message_path(:recipient_id => message.user_id, :recipient_name => message.sender_name), :class => "btn btn-outline-success" %></p>
     <p><%= link_to 'Back', messages_path, :class => "btn btn-outline-primary" %></p>
     <%= button_to 'Delete', message_path(message), method: :delete, :class => "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
     
     </div>
      </div>
       </div>
  
 </ul>
  