<h1><%=user.first_name%> <%=user.last_name%></h1>

<ul>
    <li>Major: <%=user.major %> </li>
    <li>Interests: <%=user.interests %> </li>
    <li>Contact Info: <%=user.contact_info %> </li>
    <li>Bio: <%=user.bio %> </li>
    <li>Volunteer Hours: <%=user.volunteer_hours %> </li>
</ul>