<h1><%=user.first_name%> <%=user.last_name%></h1><br />

<div class="card">
  <div class="card-header">
    <h5>About</h5>
  </div>
  <div class="card-body">
  <h6><%=user.bio%></h6>
    <ul>
        
        <li>Major: <%=user.major %> </li>
        <li>Interests: <%=user.interests %> </li>
        <li>Contact Information: <%=user.contact_info %> </li>
        <li>Email: <%=user.email %> </li>
        <li>Volunteer Hours: <%=user.volunteer_hours %> </li>
    </ul>
   
    <% if user != current_user %>
      <%= link_to "Direct Request", new_request_path( :recipient => user.email ) %>
    <% end %>
  </div>
</div>

<% if user == current_user %>
  <br />
  <div class="text-center">
    <%= link_to 'Personalize Profile', edit_user_registration_path, :class => "btn btn-primary text-center" %>
</div>
<% end %>
