
<h1><%=user.first_name%> <%=user.last_name%></h1><br />

<% if user.avatar.attached? %>
  <%= image_tag((url_for(user.avatar)), style: 'display: block; margin: auto; width: 20%;')%>
<%end%>
<br>
<div class="card">
  <div class="card-header">
    <h5>About</h5>
  </div>
  <div class="card-body">
  <h6><%=user.bio%></h6>
    <ul>
        
        <li>Major: <%=user.major %> </li>
        <li>Interests: <%=user.interests %> </li>
        <li>Contact Information: <%=user.contact_info %> </li>
        <li>Email: <%=user.email %> </li>
        <li>Volunteer Hours: <%=user.volunteer_hours %> </li>
    </ul>
   <%# if not your profile then you can send message to the profile's owner or send a direct request to that user%>
   <%# upon clicking send message or direct request information is taken from the user profile's attributes to populate the new request or message attributes%>
    <% if user != current_user %>
      <%= link_to "Send Message", new_message_path(:recipient_id => user.id, :recipient_name => "#{user.first_name} #{ user.last_name}", class: "btn btn-primary"),:class => "btn btn-outline-primary"%>                                                                                                                                               
      <%= link_to "Direct Request", new_request_path(:recipient => user.id, :recipient_name => "#{user.first_name} #{ user.last_name}", class: "btn btn-primary"),:class => "btn btn-outline-primary" %>     
    <% else %>
      <%= link_to 'Personalize Profile', edit_user_registration_path, :class => "btn btn-outline-primary" %>
    <% end %>

  </div>
</div>


<br />
<br>

<h1><%=user.first_name%>'s Videos</h1>
<br>
<div align="center">
<% if user == current_user %>
    <%= link_to 'Add Video', new_account_video_path, :class => "btn btn-outline-primary" %>
    <br> 
  <% elsif current_user.followings.include?(user) %>
    <h6><i>You can unfollow a user to stop getting updates when they post videos.</i></h6>
    <br>
    <%= link_to "Unfollow", unfollow_user_path, method: "POST", :class => "btn btn-outline-primary" %> 
  <% else %>
    <h6><i>You can follow a user to get updates when they post videos!</i></h6>
    <br>
    <%= link_to "Follow", follow_user_path, method: "POST", :class => "btn btn-outline-primary" %>
    <br>
<% end %>
</div>

<br>

<% videos.each do |video| %>

  <div class="card container mb-3" style ="max-width: 40rem">
    <img class="card-img-top" src="<%= url_for(video.thumbnail, )%>" alt="Card image cap">
    <div class="card-footer">
      <h5>Title: <%= link_to video.title, video_path(video) %></h5>
      <h5 class="card-text">Description: <%= video.description%></h5>
    </div>
  </div>

  <br>

<% end %>

<br>