<p id="notice"><%= notice %></p>

<div align="center">
  <h2><%= @video.title %></h2>

  <%= video_tag(url_for(@video.clip), style:"width:900px;height: auto",controls:"") %>

  <h5 align="left">
  <br>
    <strong>Description:</strong>
    <%= @video.description %>
  </h5>

  <br>

  <% if current_user == @video.creator %>
    <%= link_to 'Edit', edit_video_path(@video) %> |
    <%= link_to 'Delete', video_path(@video), method: :delete %>
  <% end %>
</div>
