<p id="notice"><%= notice %></p>
<style>
th, td {
  padding: 10px;
}
.hero-image4 {
  background-image: url("https://t4.ftcdn.net/jpg/02/33/43/27/240_F_233432777_dUvLZxOOxSgjJlLu8Zbx2rZgNw0EGZBk.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text4 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>

<!-- JSON video styling -->
<link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>



<div align="center">
  <h2><%= @video.title %></h2>

    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="900"
    height="auto"
    poster="<%= url_for(@video.thumbnail)%>"
    data-setup="{}"
  >
    <source src="<%= url_for(@video.clip)%>" type="video/mp4" />

  </video>

  <h5 align="left">
  <br>
    <strong>Description:</strong>
    <%= @video.description %>
  </h5>

<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>

  <br>
  

  <% @reviews.each do |review| %>
  
    <% if review.try(:vkey)==@video.id %>
      <div id="<%= dom_id(review) %>">
  
   
<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Comment</th>
      <th>Reviewer Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
      <tr>
         <% if review.rating  == 1 %>
         <td>⭐</td>
         <%end%>
         <% if review.rating  == 2 %>
         <td>⭐⭐</td>
          <%end%>
         <% if review.rating  == 3 %>
         <td>⭐⭐⭐</td>
          <%end%>
         <% if review.rating  == 4 %>
         <td>⭐⭐⭐⭐</td>
          <%end%>
         <% if review.rating  == 5 %>
         <td>⭐⭐⭐⭐⭐</td>
          <%end%>
        <td><%= review.comment %></td>
        <td> <%=review.sender_name %></td>
        <td><%#= link_to 'Show', review %></td>
        <td><%#= link_to 'Edit', edit_review_path(review) %></td> 
      </tr>
       <div class="card-footer text-muted">
       <small>Received <%= time_ago_in_words(review.created_at) %> ago </small>
       <%if [current_user.first_name, current_user.last_name].join(' ') == review.sender_name%>
       <td><%= link_to 'Delete', review, class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
       <%end%>
       
       </div>
       </div>

  </tbody>
</table>
<%end%>
<%end%>
<br>

















  <% if current_user == @video.creator %>
    <%= link_to 'Edit', edit_video_path(@video) %> |
    <%= link_to 'Delete', video_path(@video), method: :delete %>
  <%else%>
  <%= link_to 'Review Video', new_review_path( :user_id => @video.user_id,:vkey => @video.id) %>
  
  <% end %>
</div>