
<!-- JSON video styling -->
<link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />

<!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>



<div align="center">
  <h2><%= @video.title %></h2>

    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="900"
    height="auto"
    poster="<%= url_for(@video.thumbnail)%>"
    data-setup="{}"
  >
    <source src="<%= url_for(@video.clip)%>" type="video/mp4" />

  </video>

  <h5 align="left">
  <br>
    <strong>Description:</strong>
    <%= @video.description %>
  </h5>

<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>

  <br>

  <% if current_user == @video.creator %>
   <%= link_to "Edit",edit_video_path(@video),class: "btn btn-outline-info", method: :get %>
      <%= link_to "Delete", video_path(@video), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</div>