
<h1 class="text-center">
Edit Request
</h1>


<%= form_with model: request, url: request_path, method: :patch, local: true, scope: :request do |f| %>

  <div>
    <h5>Description of Your Request</h5>
    <%= f.text_field :description %>
  </div>
<br>
<br>
  
  <div class="field">
    <h5><%= f.label :category %></h5>

    <%= f.radio_button :category, "Art"%> Art <br />

    <%= f.radio_button :category, "Music"%> Music<br />

    <%= f.radio_button :category, "Science"%> Science<br /><br />

    <i>(You can enter your own category)</i><br />
    <%= f.text_field :category %>
  </div>

<br>
<br>
  
  <div class="field">
    <h5><%= f.label :learningPreference, "Learning Preference" %></h5>

    <%= f.radio_button :learningPreference, "Prerecorded Video"%> Prerecorded Video<br />

    <%= f.radio_button :learningPreference, "Live Zoom Meeting"%> Live Zoom Meeting<br />
    
    <%= f.radio_button :learningPreference, "1-in-1 in Person"%> 1-in-1 in Person<br />
  </div>

<br>
<br>

  <h5>Accept Request?</h5>
  <div>
    <div>
      <%= f.radio_button :acceptedFlag, true %>
      <%= f.label "acceptedFlag_true", 'Yes' %>
    </div>
    <div>
      <%= f.radio_button :acceptedFlag, false %>
      <%= f.label "acceptedFlag_false", 'No' %>
    </div>
  <div>

  <br />

  <h5>Completed Request?</h5>
  <div>
    <div>
      <%= f.radio_button :completedFlag, true %>
      <%= f.label "completedFlag_true", 'Yes' %>
    </div>
    <div>
      <%= f.radio_button :completedFlag, false %>
      <%= f.label "conpletedFlag_false", 'No' %>
    </div>
  <div>
  <br>

  <%= f.submit "Update Request" %>

<% end %>


  