
<br>
<h1 class="text-center text-primary">My Requests Page</h1>
<br>

<p class="text-info"><strong>You can send a request to another student by searching for them on the  homepage and clicking "Direct Request" on their profile!</strong></p>
<br>
<p class="text-info"><strong>If you want a closer look at your requests, click "See Request".</strong></p>

<br>
<h3 class="text-primary">My Sent Requests</h3>

<% requests.each do |request| %>

    <% if current_user.try(:id)==request.user_id %>
      <div id="<%= dom_id(request) %>">
      
        <div class="card border-info mb-3" style="max-width: 35rem;">
          <div class="card-header bg-transparent border-info text-center text-info">
            <h2>Request to: <br> <%= link_to request.recipient_name, user_path(request.recipient) %></h2>
          </div>
          <div class="card-body text-info">
            <h5 class="card-title">Description: <%=request.description %></h5>
            <% if request.acceptedFlag == true%>
              <p class="card-text text-success"><strong>Accepted: ✔ </strong></p>
            <% else %>
              <p class="card-text text-danger"><strong>Accepted: ❌</strong></p>
            <%end%>
          
            <% if request.completedFlag == true%>
              <p class="card-text text-success"><strong>Completed: ✔</strong></p>
              <i class="card-text text-success">You can close out this request!</i>
              <br><br>            
            <% else %>
              <p class="card-text text-danger"><strong>Completed: ❌</strong></p>
            <%end%>
            
            <%= link_to 'See Request', request_path(request), :class => "btn btn-info btn-center text-center" %>
            
          </div>
        </div>

      </div>

  <% end %>

<%end %>

<br>

<h3 class="text-primary">My Received Requests</h3>
<% requests.each do |request| %> 

      <% if current_user.try(:id)==request.recipient %>
        <div id="<%= dom_id(request) %>">
        
          <div class="card border-info mb-3" style="max-width: 35rem;">
            <div class="card-header bg-transparent border-info text-center text-info">
                <h2>Request from: <br> <%= link_to request.sender, user_path(request.user_id) %></h2>
            </div>
              <div class="card-body text-info">
                <h5 class="card-title">Description: <%=request.description %></h5>

                <% if request.acceptedFlag == true %>
                  <p class="card-text text-success"><strong>Accepted: ✔ </strong></p>
                <% else %>
                  <p class="card-text text-danger"><strong>Accepted: ❌</strong></p>
                <%end%>
              
                <% if request.completedFlag == true %>
                  <p class="card-text text-success"><strong>Completed: ✔</strong></p>
                  <i class="card-text text-success">Waiting for <%= request.sender %>'s request closure to award volunteer hours.</i>
                  <br><br>        
                <% else %>
                  <p class="card-text text-danger"><strong>Completed: ❌</strong></p>
                <%end%>
                
                <%= link_to 'See Request', request_path(request), :class => "btn btn-info btn-center text-center" %>
                
              </div>
            </div>
        
        </div>
        
      <% end %>

<%end %>

