<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url("https://image.freepik.com/free-photo/close-up-students-writing-reading-exam-answer-sheets-exercises-classroom-school-with-stress_73622-858.jpg");
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-image2 {
  background-image: url("https://image.freepik.com/free-photo/business-women-signature-document_1388-90.jpg");
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>
</head>



<div class="big_header">
            <h1 class="blue" style="color:#2196F3;">My Requests Page</h1>
            
        </div>
        
<br>
<div class = "padding">



<p class="text-info"><strong>You can send a request to another student by searching for them on the  homepage and clicking "Direct Request" on their profile!</strong></p>
<br>
<p class="text-info"><strong>If you want a closer look at your requests, click "See Request".</strong></p>
</div>
<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">My Sent Requests</h1>
  </div>
</div>

<br>
<% requests.each do |request| %>

    <% if current_user.try(:id)==request.user_id %>
      <div id="<%= dom_id(request) %>">
      
    
    <% if request.acceptedFlag == true%>
<div class="container card p-1 mb-1 bg-success text-dark">
<%end%>
<% if request.acceptedFlag == false%>
<div class="container card p-1 mb-1 bg-danger text-dark">
<%end%>
 <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a><%=link_to 'Teacher Profile', user_path(request.recipient), class: 'nav-link' %></a>
      </li>
      <li class="nav-item">
        <a><%= link_to 'See Request', request_path(request), class: 'nav-link' %></a>
      </li>
     
        <% if request.recipient != current_user.id %>
         <li class="nav-item">
    <%= link_to "Send Message", new_message_path(:recipient_id => request.recipient, :recipient_name => request.recipient_name, class: "btn btn-primary"), class: 'nav-link'  %>                                                                                                                                    
      </li>
      <%end%>
    </ul>
  </div>
    <div class="card-body">
    <h5 class="card-title">You sent a request to <%=request.recipient_name%>!</h5>
    <p class="card-text"><%= request.description%></p>
    
 
    <br>
     <div class="card-footer text-muted">
     <div class = "text-left">
     <% if request.acceptedFlag == true%>
           <p style="color:green;"><strong>Accepted by <%= request.recipient_name%>  ✔</strong></p>
            <%end%>
    <% if request.acceptedFlag == false%>
        <p style="color:red;"><strong>Not yet accepted ❌</strong></p>
        
            <%end%>
    
     <small>Sent <%= time_ago_in_words(request.created_at) %> ago, 
            edited <%= time_ago_in_words(request.updated_at) %> ago</small>
    </div>
  </div>
</div>
</div>
</div>
  <% end %>

<%end %>

<br>
<div class="hero-image2">
  <div class="hero-text2">
    <h1 style="font-size:50px">My Recieved Requests</h1>
  </div>
</div>
<br>
<% requests.each do |request| %> 

      <% if current_user.try(:id)==request.recipient %>
        <div id="<%= dom_id(request) %>">
        

<div class = "padding">
<% if request.acceptedFlag == true%>
<div class="container card p-1 mb-1 bg-success text-dark">
<%end%>
<% if request.acceptedFlag == false%>
<div class="container card p-1 mb-1 bg-danger text-dark">
<%end%>
 <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a><%=link_to 'Student Profile', user_path(request.user_id), class: 'nav-link' %></a>
      </li>
      <li class="nav-item">
        <a><%= link_to 'See Request', request_path(request), class: 'nav-link' %></a>
      </li>
     
        <% if request.user_id != current_user.id %>
         <li class="nav-item">
    <%= link_to "Send Message", new_message_path(:recipient_id => request.user_id, :recipient_name => request.sender, class: "btn btn-primary"), class: 'nav-link'  %>                                                                                                                                    
      </li>
      <%end%>
    </ul>
  </div>
    <div class="card-body">
    <h5 class="card-title"><%=request.sender%> has asked you for help!</h5>
    <p class="card-text"><%= request.description%></p>
    
 
    <br>
     <div class="card-footer text-muted">
     <div class = "text-left">
     <% if request.acceptedFlag == true%>
        <p style="color:green;"><strong>Accepted by <%= request.recipient_name%>  ✔</strong></p>
            <%end%>
    <% if request.acceptedFlag == false%>
      <p style="color:red;"><strong>Not yet accepted ❌</strong></p>
            <%end%>
    
     <small>Sent <%= time_ago_in_words(request.created_at) %> ago, 
            edited <%= time_ago_in_words(request.updated_at) %> ago</small>
    </div>
  </div>
</div>
</div>
</div>
<%end%>
<%end%>


        
          
