<!DOCTYPE html>
<style>
.container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}
</style>

<br>
<br>
<h1 class="text-center">
My Requests Page
</h1>
<br>
<br>
<h3><p class="text-primary">My Sent Requests</p></h3>
<% requests.each do |request| %>
<% if current_user.try(:id)==request.user_id %>
  
  <div id="<%= dom_id(request) %>">
    <div class="container card p-3 mb-2 bg-light text-dark">
    <div class="card-body">
    <div class = "text-left">
    <ul>
        <p><b>  Description: <%= request.description%></b></p>
        <p><b>  Category: <%= request.category%></b></p>
        <p><b>  Request Sender: <%= request.sender%> </b></p>
        <p><b>  Request Recipient: <%= request.recipient_name %> </b></p>
      
  
      <br>

      <%= button_to 'See Request', request_path(request),:method => "get" %>
     
      <%# button_to 'Edit Request', edit_request_path(request),:method => "get" %>
      <br>
      <%# button_to 'Close Out Request As Completed', request_path(request), method: :delete %>
      <%# button_to '🗑', request_path(request), method: :delete, user.request.recipient. %>
      
     </ul>
    </div>
    </div>
    </div>
<% end %>
<%end %>
<br>
<br>
<h3><p class="text-primary">My Received Requests</p></h3>
<% requests.each do |request| %>

<% if current_user.try(:id)==request.recipient %>
  
  <div id="<%= dom_id(request) %>">
    <div class="container card p-3 mb-2 bg-light text-dark">
    <div class="card-body">
    <div class = "text-left">
    <ul>
        <p><b>  Description: <%= request.description%></b></p>
        <p><b>  Category: <%= request.category%></b></p>
        <p><b>  Request Sender: <%= request.sender%> </b></p>
        <p><b>  Request Recipient: <%= request.recipient_name %> </b></p>
        <p><b>  Accepted: 
          <% if request.acceptedFlag==true%>
            ✔
          <% else %>
            ❌
          <% end %>
        </b><p>
        <p><b>  Completed: 
          <% if request.completedFlag==true%>
            ✔
          <% else %>
            ❌
          <% end %>
        </b><p>
    

      <%#= link_to '🔎', request_path(request) %>
      <%#= link_to '🖋', edit_request_path(request) %>
      <%#= button_to '🗑', request_path(request), method: :delete %>
        
       
       <%#link_to 'Set Request Status as Declined', request_path(request.acceptedFlag = false), method: :patch %>
  
<br>
      <%= button_to 'See Request', request_path(request),:method => "get" %>
      <%# link_to '🖋', edit_request_path(request) %>
     </ul>
    </div>
    </div>
    </div>
<% end %>
<%end %>

<div class="card-body">