

<h1 class="text-center">
New Request
</h1>

<%= form_with model: request, url: requests_path, method: :post, local: true, scope: :request do |f| %>

  <div>
    <h5>Description of Your Request</h5>
    <%= f.text_field :description %>
  </div>
<br>
<br>

  <div class="field">
    <h5><%= f.label :category %></h5>

    <%= f.radio_button :category, "Art"%> Art <br />

    <%= f.radio_button :category, "Music"%> Music<br />

    <%= f.radio_button :category, "Science"%> Science<br /><br />

    <i>(You can enter your own category)</i><br />
    <%= f.text_field :category %>
  </div>



<br>
<br>

   <div class="field">
      <h5><%= f.label :learningPreference, "Learning Preference" %></h5>

      <%= f.radio_button :learningPreference, "Prerecorded Video"%> Prerecorded Video<br />

      <%= f.radio_button :learningPreference, "Live Zoom Meeting"%> Live Zoom Meeting<br />
      
      <%= f.radio_button :learningPreference, "1-in-1 in Person"%> 1-in-1 in Person<br />
    </div>


<br>
<br>
<div>
    <h5>Teacher's Email</h5>
    <%= f.text_field :recipient%>
  </div>

  <%= f.submit "Send Request" %>

<% end %>