

<h1 class="text-center">
New Request
</h1>

<%= form_with model: request, url: requests_path, method: :post, local: true, scope: :request do |f| %>

  <div>
    <h5>Description of Your Request</h5>
    <%= f.text_field :description %>
  </div>
<br>
<br>

  <div class="field">
    <h5><%= f.label :category %></h5>

    <%= f.radio_button :category, "Art"%> Art <br />

    <%= f.radio_button :category, "Music"%> Music<br />

    <%= f.radio_button :category, "Science"%> Science<br /><br />

    <i>(You can enter your own category)</i><br />
    <%= f.text_field :category %>
  </div>



<br>
<br>

   <div class="field">
      <h5><%= f.label :learningPreference, "Learning Preference" %></h5>

      <%= f.radio_button :learningPreference, "Prerecorded Video"%> Prerecorded Video<br />

      <%= f.radio_button :learningPreference, "Live Zoom Meeting"%> Live Zoom Meeting<br />
      
      <%= f.radio_button :learningPreference, "1-in-1 in Person"%> 1-in-1 in Person<br />
    </div>


<br>
<br>
<<<<<<< HEAD


  
=======
<div>
    <h5>How many hours do you think this teacher will need to complete the task requested?</h5>
 <%= f.text_field :new_volunteer_hours%>
    
  </div>
>>>>>>> dfde10b2bdd8fa6451498322c058f9d351840ed2

<%= f.hidden_field :recipient, :value => params[:recipient] %>
<%= f.hidden_field :recipient_name, :value => params[:recipient_name] %>
<%= f.submit "Send Request" %>

<% end %>