
<!DOCTYPE html>
<style>
.container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

</style>
<%## if request.try(:recipient?)==current_user.user_id  %>

<br>
<br>
<div class="container card p-3 mb-2 bg-light text-dark">
 <div class = "text-center">
  <div class="card-header">
    <h5>Request Number: <%=request.id%></h5>
  </div>
  </div>
  <div class="card-body">
    <div class = "text-center">
    <ul>
        <p><b>  Description: <%= request.description%></b></p>
        <p><b>  Category: <%= request.category%></b></p>
        <p><b>  Request Sender: <%= request.sender%> </b></p>
        <p><b>  Request Recipient: <%= request.recipient_name %> </b></p>
        <p><b>  Learning Preference: <%= request.learningPreference %> </b></p>
        <p><b>  Volunteer Hours to be earned with request completion: <%= request.new_volunteer_hours %> </b></p>
       <h5>Request Status</h5>
        <%  if request.try(:acceptedFlag?)==true %>
        <p><b>  <%= request.recipient_name %> has accepted this request!</b></p>
        <%end%>
         <% if request.try(:acceptedFlag?)==nil %>
         <p><b> <%= request.recipient_name %> has yet to accept or decline the request!</b></p>
         <%end%>
         <% if request.try(:acceptedFlag?)==false %>
         <p><b> <%= request.recipient_name %> has declined this request!</b></p>
         <%end%>
         <% if request.try(:completedFlag?)==true %>
        <p><b>  This request has been completed and is waiting for <%= request.sender%> to close out the request!</b></p>
        <%end%>
         <% if request.try(:completedFlag?)==false %>
         <p><b> <%= request.recipient_name %> has yet to complete the request!</b></p>
         <%end%>
       
       
      <p><b>Last Updated On:<%=request.updated_at%></b><%= button_to 'Edit Request', edit_request_path(request), method: :get %></p>
      <p></b><%= button_to 'Delete Request', request_path(request), method: :delete %></p>
    </ul>
    </div>
    
   
    