
<!DOCTYPE html>
<style>
.container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

</style>

<br>
<br>
<% if request.try(:acceptedFlag?)==true %>
<% if request.try(:completedFlag?)==true %>
<div class="container card p-3 mb-2 bg-light text-dark">
 <div class = "text-center">
  <div class="card-header">
    <h5>Request ID: <%=request.id%></h5>
  </div>
  </div>
  <div class="card-body">
    <div class = "text-center">
    <ul>
        <p><b>  Description: <%= request.description%></b></p>
        <p><b>  Category: <%= request.category%></b></p>
        <p><b>  Request Sender: <%= request.sender%> </b></p>
        <p><b>  Request Recipient: <%= request.recipient %> </b></p>
        <p><b>  Learning Preference: <%= request.learningPreference %> </b></p>
        <p><b>  Accepted?  Yes</b></p>
        <p><b>  Completed?  Yes</b></p>
      <p><b>Last Updated On:<%=request.updated_at%></b><%= button_to '🖋', edit_request_path(request), method: :get %></p>
      <p></b><%= button_to '🗑', request_path(request), method: :delete %></p>
    </ul>
    </div>
    <%end%>
    <%end%>
    <% if request.try(:acceptedFlag?)==true %>
    <% if request.try(:completedFlag?)==false %>
<div class="container card p-3 mb-2 bg-light text-dark">
 <div class = "text-center">
  <div class="card-header">
    <h5>Request ID: <%=request.id%></h5>
  </div>
  </div>
  <div class="card-body">
    <div class = "text-center">
    <ul>
        <p><b>  Description: <%= request.description%></b></p>
        <p><b>  Category: <%= request.category%></b></p>
        <p><b>  Request Sender: <%= request.sender%> </b></p>
        <p><b>  Request Recipient: <%= request.recipient %> </b></p>
        <p><b>  Learning Preference: <%= request.learningPreference %> </b></p>
        <p><b>  Accepted?  Yes</b></p>
        <p><b>  Completed?  No</b></p>
      <p><b>Last Updated On:<%=request.updated_at%></b><%= button_to '🖋', edit_request_path(request), method: :get %></p>
      <p></b><%= button_to '🗑', request_path(request), method: :delete %></p>
    </ul>
    </div>
    <%end%>
    <%end%>
    <% if request.try(:acceptedFlag?)==false %>
    <% if request.try(:completedFlag?)==true %>
<div class="container card p-3 mb-2 bg-light text-dark">
 <div class = "text-center">
  <div class="card-header">
    <h5>Request ID: <%=request.id%></h5>
  </div>
  </div>
  <div class="card-body">
    <div class = "text-center">
    <ul>
        <p><b>  Description: <%= request.description%></b></p>
        <p><b>  Category: <%= request.category%></b></p>
        <p><b>  Request Sender: <%= request.sender%> </b></p>
        <p><b>  Request Recipient: <%= request.recipient %> </b></p>
        <p><b>  Learning Preference: <%= request.learningPreference %> </b></p>
        <p><b>  Accepted?  No</b></p>
        <p><b>  Completed?  Yes</b></p>
      <p><b>Last Updated On:<%=request.updated_at%></h6><%= button_to '🖋', edit_request_path(request), method: :get %></b></p>
      <p></b><%= button_to '🗑', request_path(request), method: :delete %></p>
    </ul>
    </div>
    <%end%>
     <%end%>
     <% if request.try(:acceptedFlag?)==false %>
    <% if request.try(:completedFlag?)==false %>
<div class="container card p-3 mb-2 bg-light text-dark">
 <div class = "text-center">
  <div class="card-header">
    <h5>Request ID: <%=request.id%></h5>
  </div>
  </div>
  <div class="card-body">
    <div class = "text-center">
    <ul>
        <p><b>  Description: <%= request.description%></b></p>
        <p><b>  Category: <%= request.category%></b></p>
        <p><b>  Request Sender: <%= request.sender%> </b></p>
        <p><b>  Request Recipient: <%= request.recipient %> </b></p>
        <p><b>  Learning Preference: <%= request.learningPreference %> </b></p>
        <p><b>  Accepted?  No</b></p>
        <p><b>  Completed?  No</b></p>
      <p><b>Last Updated On:<%=request.updated_at%></b><%= button_to '🖋', edit_request_path(request), method: :get %></p>
      <p></b><%= button_to '🗑', request_path(request), method: :delete %></p>
    </ul>
    </div>
    <%end%>
     <%end%>
  