
<br>
<div class="card border-info  p-3 mb-3 bg-light text-dark">
  
  <div class="card-header bg-transparent border-info text-center text-info">
    <h2>Request: <br> <%= request.sender%> to <%= request.recipient_name %></h2>
  </div>
  <div class="card-body text-info">
    <ul class="list-group list-group-flush ">
      <li class="list-group-item border-info bg-transparent">
        <h3 style="text-align:center;">General Information</h3>
        <br>
        <h5>  <u>Description:</u> <%= request.description%><h5>
        <h5>  <u>Category:</u> <%= request.category%><h5>
        <h5>  <u>Sender:</u> <%= request.sender%><h5>
        <h5>  <u>Recipient:</u> <%= request.recipient_name %><h5>
        <h5>  <u>Learning Preference:</u> <%= request.learningPreference %><h5>
        <h5>  <u>Volunteer Hours:</u> <%= request.new_volunteer_hours %><h5>
      </li>

      <li class="list-group-item border-info bg-transparent">
        <h3 style="text-align:center;">Active Status:</h3>
        <br>
          <%  if request.try(:acceptedFlag?)==true %>
            <h5><i class="card-text text-success">  <%= request.recipient_name %> has accepted this request!</i></h5>
          <% else %>
            <h5><i class="card-text text-danger"> <%= request.recipient_name %> has not yet accepted the request!</i></h5>
          <%end%>
          <br>
          <% if request.try(:completedFlag?)==true %>
            <h5><i class="card-text text-success"> This request has been completed and is waiting for <%= request.sender%> to close out the request!</i></h5>
          <% else %>
            <h5><i class="card-text text-danger"> <%= request.recipient_name %> has yet to complete the request!</i></h5>
          <%end%>
      </li>
    </ul>

    <br>
    <% if current_user.try(:id)==request.recipient %>
      <p class="card-text"><strong>Last Updated On: <%=request.updated_at%></strong></p>
      <%= link_to 'Edit Request Active Status', edit_request_path(request), method: :get, :class => "btn btn-info text-center"%>
    <% else %>
      <%= link_to 'Edit Request General Information', edit_request_path(request), method: :get, :class => "btn btn-primary text-center" %>
      <p><strong><%= button_to 'Close Out Request (Hours rewarded if request completed)', request_path(request), method: :delete %></strong></p>
    <%end%>
    
  </div>
</div> 

    
   
    