
<h1 class="text-center">
Edit Request
</h1>

<%#Allows editing of global request attributes, view changes whether student or teacher is editing information. %>
<%= form_with model: global, url: global_path, method: :patch, local: true, scope: :global do |f| %>
<% if current_user.try(:id)==global.user_id %>
  <div>
    <h5>Description of Your Request</h5>
    <%= f.text_field :description %>
  </div>
<br>
<br>
  
  <div class="form-group">
    <h5><%= f.label :category, "Category" %></h5>
    <%= f.text_field :category, placeholder: "Ex. Art, Science, Music" %>
  </div>
 

<br>
<br>
  
 <div class="form-group">
    <h5><%= f.label :learningPreference, "Learning Preference" %></h5>

    <%= f.radio_button :learningPreference, "Prerecorded Video"%> Prerecorded Video<br />

    <%= f.radio_button :learningPreference, "Live Zoom Meeting"%> Live Zoom Meeting<br />
    
    <%= f.radio_button :learningPreference, "1-in-1 in Person"%> 1-in-1 in Person<br />
  </div>

<br>
<br>

<%#Allows to update hours awarded upon completion of request. %>
<div>
    <h5>How many hours do you think this teacher will need to complete the task requested?</h5>
 <%= f.text_field :new_volunteer_hours%>
    
  </div>     

<%end%>

<%#If the current user did not send the request then show the radio buttons to switch accepted or completed status %>

<% if current_user.try(:id)!= global.user_id %>
  <div>
    <h5>Accept Request?</h5>
     <%= f.radio_button "acceptedFlag",  true %>
     <%= label_tag "acceptedFlag", 'Accept Request' %>
    <%= f.radio_button "acceptedFlag", false %>
     <%= label_tag "acceptedFlag", 'Decline Request' %>
  </div>
  
  <div>
    <h5>Completed Request?</h5>
      <%= f.radio_button "completedFlag",true %>
     <%= label_tag "completedFlag", 'Complete Request' %>
    <%= f.radio_button "completedFlag", false %>
     <%= label_tag "completedFlag", 'Request Not Completed' %>
  </div>

  <%end%>

  <br>

  <%= f.submit "Update Request", :class => "btn btn-outline-info" %>

<% end %>
