<div id="page-contet">
<h1 class="text-center mt-4">New Review for <%= @review.user.first_name %>  <%= @review.user.last_name %></h1>


  <div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body text-dark">
  <p>
  <div class="form-group">
  <label><strong for="exampleFormControlInput1">Rating:</strong></label>
  <%= @review.rating %>  
  </p>
   <p>  
  <div class="form-group">
   <label><strong for="exampleFormControlInput1">Reviewer Name:</strong></label>
   <%=@review.sender_name %>
   </p>  
    <p>
  <div class="form-group">
  <label><strong for="exampleFormControlTextarea1">Comments:</strong></label>

  <%= @review.comment %>
  </p>
  </div>
  </div>
 <div class="card-footer bg-transparent border-success"><%= link_to 'Back to My Page', user_path(current_user), :class => "btn btn-outline-dark" %>

</div>
</div>
